// Bootstrap library.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';

#edit-query-options-body {
  background-color: blanchedalmond;
}
.page-billing, .page-manager-call-detailing {
  .collapsible {
    a.panel-title:after {
      font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
      content: "\e114"; /* adjust as needed, taken from bootstrap.css */
      float: right; /* adjust as needed */
      color: grey; /* adjust as needed */
    }
     a.panel-title.collapsed:after {
      content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    }

  }

  #edit-query-options-project-task, #edit-query-options-date {
    .panel-heading  {
      background-color: grey;
    }
    margin-top: 10px;
    label {
      display: block;
    }
  }

  .files-operations {
    position: fixed;
    bottom: 0;
    z-index: 100;
    margin-bottom: 0px;
    .panel-heading {
      padding-top: 5px !important;
      padding-bottom: 5px !important;
      text-align: center;
      background-color: #970F00;
      color: #FFFFFF;
    }
    #edit-files-operations-body {
      background-color: #970F00;
      #files-white-list {
        float: left;
        #edit-files-operations-files-white-list-submit {
          background-color: #008800;
        }
      }
      #files-download {
        float: right;
        #edit-files-operations-files-download-submit {
          background-color: yellow;
        }
      }
    }
  }
}
.page-client-call-detailing {
  .collapsible {
    a.panel-title:after {
      font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
      content: "\e114"; /* adjust as needed, taken from bootstrap.css */
      float: right; /* adjust as needed */
      color: grey; /* adjust as needed */
    }
    a.panel-title.collapsed:after {
      content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    }
  }

  #edit-query-options-project-task, #edit-query-options-date {
    .panel-heading  {
      background-color: grey;
    }
    margin-top: 10px;
    label {
      display: block;
    }
  }

  #files {
    position: fixed;
    bottom: 0px;
    height: 40px;
    background-color: #970F00;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
   }
  .scrubber {
    max-width: 50% !important;
  }
}

  #files-table {
    font-size: 0.9em;
    .sticky-header {
      thead {
        background-color: #2C5858;
        color: #FFFFFF;
        tr {
          th {
            padding: 8px;
            vertical-align: middle;
            text-align: center;
          }
          th.select-all {
            .black-list-select-all {
              font-size: 10px;
            }
          }
        }
      }
    }
    .table {
      thead {
        background-color: #2C5858;
        color: #FFFFFF;
        tr {
          th {
            vertical-align: middle;
            text-align: center;
          }
          th.select-all {
            .black-list-select-all {
              font-size: 10px;
            }
          }
        }
      }
    }
    tbody {
      tr {
        td {
          vertical-align: middle;
          text-align: center;
        }
      }
    }
    .audiojs {
     max-width: 100%;
     width: 100% !important;
      .play-pause {
        border: 0px;
        padding: 4px 0px;
      }
      .scrubber {
        max-width: 50%;
        .loaded {
         width: 100% !important;
        }
      }
      .time {
        padding: 0px 6px 0px 7px;
        max-width: 33%;
      }
    }
  }


/*
*/


